nav{
    box-sizing: content-box;
}
.navbar a{
color: #1F1F1F;
}
.button-custom{
    background-color: #fefefe;
    border: 1px solid #BEBEBE;
    padding: 15px 35px 15px 30px;
    border-radius: 30px;   
}
.button-custom:hover{
    background-color: #fefefe;
    border: 1px solid #BEBEBE;
    padding: 15px 35px 15px 35px;
    border-radius: 30px;  
}
ul img{
width: 24px;
height: 24px;
top: 67px;
left: 920px;
gap: 0px;
opacity: 0px;

}
.bgimg{
 background: linear-gradient(90deg, #C1DEE8 0%, #FBD9B9 100%);
 ;
 border-radius: 15px;
 margin: 50px 0px;


}
.image{
   flex: auto;
   width: 50%;
}
.img2{
width:100%;
height: 100%;
top: 2893px;
left: 809px;
gap: 0px;
opacity: 0px;

}
.hero{
    box-sizing: content-box;
}
.one{
    align-items: flex-start;
    margin: auto;
    padding-left: 25px;
    width: 50%;
    box-sizing: border-box;
    color:#000000;
    font-family: "poppins";
}
.welcome{
 
font-family: Poppins;
font-size: 38px;
font-weight: bolder;

text-align: left;

}
h4{
    //styleName: 04;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 45.6px;
    text-align: left;
    
}
.btnB{
    width: Hug (153px)px;
height: Fixed (60px)px;
top: 2502px;
left: 98px;
padding: 15px 35px 15px 35px;
gap: 10px;
border-radius: 40px 0px 0px 0px;
opacity: 0px;

}
.btnR{
    width: Hug (156px)px;
height: Fixed (60px)px;
top: 2502px;
left: 275px;
padding: 15px 35px 15px 35px;
gap: 10px;
border-radius: 40px 0px 0px 0px;
border: 1px 0px 0px 0px;
opacity: 0px;

}
.card_home{
    border-radius: 40px;
}
.heading2{
    margin: 30px;
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    align-items: center;
    justify-self: center;
}
h1{
font-family: "Poppins";
font-size: 67px;
font-weight: 600;
line-height: 80.4px;
text-align: left;
color: #000000;
}
.features{
font-family: "poppins";
text-align: left;
color: #000000;
}
.image-div{
    align-self: flex-start;
    justify-content: flex-start;
}
.get-quote{
    margin: auto;
    right: 20px;
    align-self: center;
    width: 60%;
 }
 .heading{
font-family: "Poppins";
font-size: 50px;
font-weight: 600;
line-height: 60px;
align-items: center;
justify-self: center;

 }
 p{
    justify-self: center;
    font-family: poppins;
    
 }

 .para2{
    font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #000000;
 }
 .form-control{
width: 50%;
border-radius: 40px;
 }
 
 .button3{
    position: relative;
    right: 50px;
    border-radius: 40px;
    background-color: #1F1F1F;
 }
 @media screen and (max-width:444px) {
    h1{ width: 100%;
        font-size: 30px;
        line-height: 30px;
    }
    .get-quote{
        width: 9rem;
        
    }
    .button3{
        right:10px;
    }
    .footer-bg{
        display: flex;
        align-items: center;
    }
    .feature-center{
        display: flex;
        align-items: center;
    }

 }

